# Compilados Java
*.class
*.jar
*.war
*.ear

# Diretório de build Maven
target/

# IDEs
.idea/
*.iml
.eclipse/
.settings/
.classpath
.project
*.iws

# VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db
